.fa {
  cursor: pointer;
  font-size: 1.2rem;
  color: white;
}

.user {
  font-size: 1.5rem !important;
}

a {
  cursor: pointer;
  font-family: "Comfortaa", sans-serif;
}

.back {
  color: whitesmoke;
}

.bars {
  border: 1px dashed whitesmoke;
  padding: 5px;
}

.collapse {
  color: whitesmoke;
}

.dropdown-item {
  cursor: pointer;
}

.roleActive {
  color: #81a955;
}

.lanActive {
  color: #81a955;
}

.badge {
  position: absolute;
  top: -5px;
  margin-left: 15px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: #c54040;
  color: white;
}

.site-header {
  background-color: #81a955;
}

.btn-view {
  margin-left: 32px;
  border: 1px solid #81a955;
}

.btn-view:hover {
  color: white;
  background-color: #81a955;
}
