<div class="container">
    <div class="row">
        <div class="w3-card-4" style="width: 100%">
            <header class="w3-container w3-light-grey">
                <h3 class="text-center"><span class="float-left" [routerLink]="['']" routerLinkActive="active"><i
                            class="fa fa-arrow-left"></i></span>ANGULAR <span class="home">Home</span></h3>
            </header>

            <div class="w3-container">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- <div class="container" id="id01"> -->
                            <form action="" method="post">

                                <div class="container">
                                    <label for="uname" *ngIf="isChange"><b>Username</b></label>
                                    <input type="text" placeholder="Enter Username" name="uname" [(ngModel)]="username"
                                        required *ngIf="isChange">

                                    <button type="submit" (click)="validateUser()" *ngIf="isChange">Validate
                                        User</button>

                                    <label for="psw" *ngIf="isSubmit"><b>New Password</b></label>
                                    <input type="password" placeholder="Enter New Password" name="psw"
                                        [(ngModel)]="password" required *ngIf="isSubmit">

                                    <label for="psw-repeat" *ngIf="isSubmit"><b>Repeat Password</b></label>
                                    <input type="password" placeholder="Repeat Password" name="psw-repeat"
                                        [(ngModel)]="confirmpassword" required *ngIf="isSubmit">

                                    <button type="submit" (click)="submitPassword()" *ngIf="isSubmit">Submit
                                        Password</button>

                                    <div class="alert-danger" *ngIf="isFalied">
                                        <span class="closebtn"
                                            onclick="this.parentElement.style.display='none';">&times;</span>
                                        <strong>Failed!</strong> Invalid username.
                                    </div>
                                    <div class="alert-success" *ngIf="isSuccess">
                                        <span class="closebtn"
                                            onclick="this.parentElement.style.display='none';">&times;</span>
                                        <strong>Success!</strong> Password changed successful.
                                    </div>
                                    <div class="alert-info" *ngIf="isInfo">
                                        <span class="closebtn"
                                            onclick="this.parentElement.style.display='none';">&times;</span>
                                        <strong>Warning!</strong> Please enter username.
                                    </div>
                                    <div class="alert-warning" *ngIf="isWarning">
                                        <span class="closebtn"
                                            onclick="this.parentElement.style.display='none';">&times;</span>
                                        <strong>Info!</strong> Passwords not match.
                                    </div>
                                </div>

                                <div class="container" style="background-color:#f1f1f1">
                                    <button type="button" onclick="document.getElementById('id01').style.display='none'"
                                        class="cancelbtn">Cancel</button>
                                    <span class="psw">Return To <a [routerLink]="['/login']"
                                            routerLinkActive="active">Login?</a></span>
                                </div>
                            </form>
                            <!-- </div> -->
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                </div>

                <footer class="w3-container w3-light-grey text-center">
                    CopyRights &copy; <a href="http://localhost:4200/" target="">Angular Home.</a> All
                    Rights Reserved.
                </footer>
            </div>
        </div>
    </div>
</div>