<div class="d-flex" id="wrapper">
  <app-sidemenu></app-sidemenu>
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <app-header></app-header>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Person</th>
            <th scope="col">Assigned</th>
            <th scope="col">Priority</th>
            <th scope="col">Type</th>
            <th scope="col">Status</th>
            <th scope="col">Description</th>
            <th scope="col">Created</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of postInfo; let i=index">
            <td>{{i+1}}</td>
            <td>{{item.person}}</td>
            <td>{{item.assigned}}</td>
            <td>{{item.priority}}</td>
            <td>{{item.type}}</td>
            <td>{{item.status}}</td>
            <td>{{item.description}}</td>
            <td>{{item.created}}</td>
          </tr>          
        </tbody>
      </table>
    </div>
  </div>
  <!-- /#wrapper -->
</div>